In [11]:
import pandas as pd
import re

In [2]:
test = 'm Male fem. FemalE Femle'
test = test.split(' ')
test

['m', 'Male', 'fem.', 'FemalE', 'Femle']

In [3]:
df = pd.DataFrame({'gender': test})

In [4]:
df

   gender
0       m
1    Male
2    fem.
3  FemalE
4   Femle

In [5]:
df['gender_regex'] = df.gender

In [15]:
df.gender_regex[df.gender_regex.str.match(r"f", flags=re.IGNORECASE)]

2      fem.
3    FemalE
4     Femle
Name: gender_regex, dtype: object

In [16]:
df['gender_regex'].str.lower()

0         m
1      male
2      fem.
3    female
4     femle
Name: gender_regex, dtype: object